body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('weather.jpg');
    background-size: cover;
  }
  
  .container {
    text-align: center;
  }
  
  h1{
    color:#fff;
    text-shadow: 0px 0px 5px #89b6df,0px 0px 5px #111111;
  }

  .weather{
    background-color: #bedcf7;
    box-shadow: 0px 0px 10px black;
    padding:50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weatherInfo {
    margin-top: 20px;
    background-color: #bedcf7;
    box-shadow: 0px 0px 10px black;
    padding:50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p{
    font-size: larger;
    text-decoration: solid;
  }

  footer {
    font-size: small;
    text-align: center;
    background-color: #4d98d1;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  
